<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for_collection :tracks do |track_fields| %>
    <div class="field">
      <%= track_fields.label :title %><br />
      <%= track_fields.text_field :title %>
    </div>
    <div class="field">
      <%= track_fields.label :duration_seconds %><br />
      <%= track_fields.text_field :duration_seconds %>
    </div>
    <%= track_fields.hidden_field :_destroy %>
    <%= track_fields.link_to_delete_item do %>Delete track<% end %>
  <% end %>

  <div>
    <%= f.link_to_add_collection_item :tracks do %>Add new track<% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
